{% extends 'home/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-4 header_div">
                <p class="h1">Contact</p>
                <p class="h5 h_descriptions">Send Us Everything You Want</p>
            </div>
            <div class="col-8">
                <form method="post" action="{% url 'contact' %}">{% csrf_token %}

                    <div class="form-floating mb-3">
                        {{ form.title }}
                        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    </div>

                    <div class="form-floating mb-3">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    {{ form.first_name }}
                                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <div class="form-floating">
                                        {{ form.last_name }}
                                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.phone }}
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    </div>

                    <div class="form-floating mb-3 form-floating">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.subject }}
                        <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.message }}
                        <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
{% endblock %}
