{% extends 'base/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}

    <div class="wrapper">

        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Send Us a Message
                            </div>
                            <h2 class="page-title">
                                Contact
                            </h2>
                        </div>
                        <!-- Page title actions -->
                    </div>
                </div>
            </div>

            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">

                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-body">
                                    <form method="post" action="{% url 'contact' %}">
                                    {% csrf_token %}

                                        {% for item in form %}
                                            <div class="form-group mb-3 ">
                                                <label class="form-label"
                                                       for="{{ item.id_for_label }}">{{ item.label }}</label>
                                                <div>
                                                    {{ item }}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>

{% endblock %}