{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <div class="wrapper">

        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Overview
                            </div>
                            <h2 class="page-title">
                                Dashboard
                            </h2>
                        </div>
                        <!-- Page title actions -->
                    </div>
                </div>

            </div>

            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        {% include 'base/alert.html' %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-blue text-white avatar">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin"
                                         width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="12" r="9"></circle>
                                    <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"></path>
                                    <path d="M12 7v10"></path>
                                    </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ profile.credit }}
                                            </div>
                                            <div class="text-muted">
                                                Credit
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list"
                                      width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                      fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <line x1="9" y1="6" x2="20" y2="6"></line>
                                   <line x1="9" y1="12" x2="20" y2="12"></line>
                                   <line x1="9" y1="18" x2="20" y2="18"></line>
                                   <line x1="5" y1="6" x2="5" y2="6.01"></line>
                                   <line x1="5" y1="12" x2="5" y2="12.01"></line>
                                   <line x1="5" y1="18" x2="5" y2="18.01"></line>
                                </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ website_list_all_count }}
                                            </div>
                                            <div class="text-muted">
                                                Website Scan
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-yellow text-white avatar">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon icon-tabler icon-tabler-circle-check" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="9"></circle>
                                        <path d="M9 12l2 2l4 -4"></path>
                                    </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ website_list_complete_count }}
                                            </div>
                                            <div class="text-muted">
                                                Website Scan Completed
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-twitter text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alarm"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <circle cx="12" cy="13" r="7"></circle>
                                   <polyline points="12 10 12 13 14 13"></polyline>
                                   <line x1="7" y1="4" x2="4.25" y2="6"></line>
                                   <line x1="17" y1="4" x2="19.75" y2="6"></line>
                                </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ website_list_working_count }}
                                            </div>
                                            <div class="text-muted">
                                                Website Scan Working
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Vulnerability</h3>
                                </div>
                                <div class="card" style="height: calc(24rem + 10px)">
                                    <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                        <div class="divide-y">

                                            {% for vulnerability in vulnerability_list %}
                                                <div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p>Name : {{ vulnerability.name }}</p>

                                                            Tips : <p>{{ vulnerability.tips }}</p></p>

                                                            <strong class="text-truncate">Fix : </strong>
                                                            <p>{{ vulnerability.fix }}</p>


                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Tools Data</h3>
                                </div>
                                <table class="table card-table table-vcenter">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th colspan="2">Command</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for tool in tools_list %}
                                        <tr>
                                            <td>{{ tool.0 }}</td>
                                            <td>{{ tool.1 }}</td>
                                            <td>{{ tool.2 }}</td>
                                            <td class="w-50">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar bg-primary"
                                                         style="width: {{ tool.3 }}%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>

{% endblock %}