{% extends 'base/base.html' %}
{% load static %}
{% block title %}Docs{% endblock %}
{% block content %}
    
<div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Documentation
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row gx-lg-4">
              <div class="d-none d-lg-block col-lg-3">
                <ul class="nav nav-pills nav-vertical">
                  <li class="nav-item">
                    <a href="../docs/" class="nav-link active">
                      Introduction
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Getting started
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-base">
                      <li class="nav-item">
                        <a href="../docs/getting-started.html" class="nav-link">
                          Getting Started
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/download.html" class="nav-link">
                          Download
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/browser-support.html" class="nav-link">
                          Browser Support
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-content" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Content
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-content">
                      <li class="nav-item">
                        <a href="../docs/colors.html" class="nav-link">
                          Colors
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/typography.html" class="nav-link">
                          Typography
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/icons.html" class="nav-link">
                          Icons
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-layout" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Layout
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-layout">
                      <li class="nav-item">
                        <a href="../docs/page-headers.html" class="nav-link">
                          Page headers
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-forms" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Form components
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-forms">
                      <li class="nav-item">
                        <a href="../docs/form-elements.html" class="nav-link">
                          Form elements
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/form-helpers.html" class="nav-link">
                          Form helpers
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/form-validation.html" class="nav-link">
                          Validation states
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/form-image-check.html" class="nav-link">
                          Image check
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/form-color-check.html" class="nav-link">
                          Color check
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/form-selectboxes.html" class="nav-link">
                          Form selectboxes
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/form-fieldset.html" class="nav-link">
                          Form fieldset
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-components" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Components
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-components">
                      <li class="nav-item">
                        <a href="../docs/alerts.html" class="nav-link">
                          Alerts
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/avatars.html" class="nav-link">
                          Avatars
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/badges.html" class="nav-link">
                          Badges
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/breadcrumb.html" class="nav-link">
                          Breadcrumb
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/buttons.html" class="nav-link">
                          Buttons
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/cards.html" class="nav-link">
                          Cards
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/carousel.html" class="nav-link">
                          Carousel
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/dropdowns.html" class="nav-link">
                          Dropdowns
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/divider.html" class="nav-link">
                          Divider
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/empty.html" class="nav-link">
                          Empty states
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/modals.html" class="nav-link">
                          Modals
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/page-headers.html" class="nav-link">
                          Page headers
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/progress.html" class="nav-link">
                          Progress
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/range-slider.html" class="nav-link">
                          Range slider
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/ribbons.html" class="nav-link">
                          Ribbons
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/skeleton.html" class="nav-link">
                          Skeleton
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/spinners.html" class="nav-link">
                          Spinners
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/steps.html" class="nav-link">
                          Steps
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/switch-icon.html" class="nav-link">
                          Switch icon
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/tables.html" class="nav-link">
                          Tables
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/tabs.html" class="nav-link">
                          Tabs
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/timelines.html" class="nav-link">
                          Timelines
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/toasts.html" class="nav-link">
                          Toasts
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/tooltips.html" class="nav-link">
                          Tooltips
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-utils" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Utilities
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-utils">
                      <li class="nav-item">
                        <a href="../docs/borders.html" class="nav-link">
                          Borders
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/cursors.html" class="nav-link">
                          Cursors
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/interactions.html" class="nav-link">
                          Interactions
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#menu-plugins" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                      Plugins
                      <span class="nav-link-toggle"></span>
                    </a>
                    <ul class="nav nav-pills collapse" id="menu-plugins">
                      <li class="nav-item">
                        <a href="../docs/autosize.html" class="nav-link">
                          Autosize
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/input-mask.html" class="nav-link">
                          Form input mask
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/flags.html" class="nav-link">
                          Flags
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/payments.html" class="nav-link">
                          Payments
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../docs/charts.html" class="nav-link">
                          Charts
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="../changelog.html" class="nav-link">
                      Changelog
                      <span class="badge bg-blue-lt ms-auto">1.0.0-beta5</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-9">
                <div class="card card-lg">
                  <div class="card-body">
                    <div class="markdown">
                      <div>
                        <div class="d-flex mb-3">
                          <h1 class="m-0">Introduction</h1>
                        </div>
                      </div>
                      <p>Tabler is a UI kit that speeds up the development process and makes it easier than ever! Built on the latest version of Bootstrap, it helps you create templates based on fully customizable and ready-to-use UI components, which can be used by both simple websites and sophisticated systems. With basic knowledge of HTML and CSS, you’ll be able to create dashboards that are fully functional and beautifully designed!</p>
                      <div class="mt-4">
                        <div class="row">
                          <div class="col-sm-6">
                            <h3>Getting started</h3>
                            <ul class="list-unstyled">
                              <li>
                                - <a href="../docs/getting-started.html">Getting Started</a>
                              </li>
                              <li>
                                - <a href="../docs/download.html">Download</a>
                              </li>
                              <li>
                                - <a href="../docs/browser-support.html">Browser Support</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <h3>Content</h3>
                            <ul class="list-unstyled">
                              <li>
                                - <a href="../docs/colors.html">Colors</a>
                              </li>
                              <li>
                                - <a href="../docs/typography.html">Typography</a>
                              </li>
                              <li>
                                - <a href="../docs/icons.html">Icons</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <h3>Layout</h3>
                            <ul class="list-unstyled">
                              <li>
                                - <a href="../docs/page-headers.html">Page headers</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <h3>Form components</h3>
                            <ul class="list-unstyled">
                              <li>
                                - <a href="../docs/form-elements.html">Form elements</a>
                              </li>
                              <li>
                                - <a href="../docs/form-helpers.html">Form helpers</a>
                              </li>
                              <li>
                                - <a href="../docs/form-validation.html">Validation states</a>
                              </li>
                              <li>
                                - <a href="../docs/form-image-check.html">Image check</a>
                              </li>
                              <li>
                                - <a href="../docs/form-color-check.html">Color check</a>
                              </li>
                              <li>
                                - <a href="../docs/form-selectboxes.html">Form selectboxes</a>
                              </li>
                              <li>
                                - <a href="../docs/form-fieldset.html">Form fieldset</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-12">
                            <h3>Components</h3>
                            <ul class="list-unstyled columns-md-2">
                              <li>
                                - <a href="../docs/alerts.html">Alerts</a>
                              </li>
                              <li>
                                - <a href="../docs/avatars.html">Avatars</a>
                              </li>
                              <li>
                                - <a href="../docs/badges.html">Badges</a>
                              </li>
                              <li>
                                - <a href="../docs/breadcrumb.html">Breadcrumb</a>
                              </li>
                              <li>
                                - <a href="../docs/buttons.html">Buttons</a>
                              </li>
                              <li>
                                - <a href="../docs/cards.html">Cards</a>
                              </li>
                              <li>
                                - <a href="../docs/carousel.html">Carousel</a>
                              </li>
                              <li>
                                - <a href="../docs/dropdowns.html">Dropdowns</a>
                              </li>
                              <li>
                                - <a href="../docs/divider.html">Divider</a>
                              </li>
                              <li>
                                - <a href="../docs/empty.html">Empty states</a>
                              </li>
                              <li>
                                - <a href="../docs/modals.html">Modals</a>
                              </li>
                              <li>
                                - <a href="../docs/page-headers.html">Page headers</a>
                              </li>
                              <li>
                                - <a href="../docs/progress.html">Progress</a>
                              </li>
                              <li>
                                - <a href="../docs/range-slider.html">Range slider</a>
                              </li>
                              <li>
                                - <a href="../docs/ribbons.html">Ribbons</a>
                              </li>
                              <li>
                                - <a href="../docs/skeleton.html">Skeleton</a>
                              </li>
                              <li>
                                - <a href="../docs/spinners.html">Spinners</a>
                              </li>
                              <li>
                                - <a href="../docs/steps.html">Steps</a>
                              </li>
                              <li>
                                - <a href="../docs/switch-icon.html">Switch icon</a>
                              </li>
                              <li>
                                - <a href="../docs/tables.html">Tables</a>
                              </li>
                              <li>
                                - <a href="../docs/tabs.html">Tabs</a>
                              </li>
                              <li>
                                - <a href="../docs/timelines.html">Timelines</a>
                              </li>
                              <li>
                                - <a href="../docs/toasts.html">Toasts</a>
                              </li>
                              <li>
                                - <a href="../docs/tooltips.html">Tooltips</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <h3>Utilities</h3>
                            <ul class="list-unstyled">
                              <li>
                                - <a href="../docs/borders.html">Borders</a>
                              </li>
                              <li>
                                - <a href="../docs/cursors.html">Cursors</a>
                              </li>
                              <li>
                                - <a href="../docs/interactions.html">Interactions</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <h3>Plugins</h3>
                            <ul class="list-unstyled">
                              <li>
                                - <a href="../docs/autosize.html">Autosize</a>
                              </li>
                              <li>
                                - <a href="../docs/input-mask.html">Form input mask</a>
                              </li>
                              <li>
                                - <a href="../docs/flags.html">Flags</a>
                              </li>
                              <li>
                                - <a href="../docs/payments.html">Payments</a>
                              </li>
                              <li>
                                - <a href="../docs/charts.html">Charts</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="../docs/index.html" class="link-secondary">Documentation</a></li>
                  <li class="list-inline-item"><a href="../license.html" class="link-secondary">License</a></li>
                  <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                  <li class="list-inline-item">
                    <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                      Sponsor
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright © 2022
                    <a href=".." class="link-secondary">Tabler</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a href="../changelog.html" class="link-secondary" rel="noopener">
                      v1.0.0-beta5
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>

{% endblock %}