{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Venous - {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <!-- Choices.js-->
    <link rel="stylesheet" href="{% static 'dashboard/vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/css.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.default.premium.688adad1.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.0a822280.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'dashboard/img/favicon.3903ee9d.ico' %}">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    {% block extend_header %}{% endblock %}
</head>

<body>

    {% include 'dashboard/header.html' %}
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        {% include 'dashboard/sidebar.html' %}

        <div class="page-content">
            <!-- Page Header-->

{#            <div class="bg-dash-dark-2 py-4">#}
{#                <div class="container-fluid">#}
{#                    <h2 class="h5 mb-0">Dashboard</h2>#}
{#                </div>#}
{#            </div>#}

            <div class="container-fluid py-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 py-3 px-0">
{#                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Forms</li>#}
                    </ol>
                </nav>
            </div>

            {% block content %}{% endblock %}

            <!-- Page Footer-->
            {% include 'dashboard/footer.html' %}
        </div>
    </div>

    <!-- JavaScript files-->
    <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/just-validate/js/just-validate.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'dashboard/js/js-cookie.0d5f0e08.js' %}"></script>
    <script src="{% static 'dashboard/js/demo.bbd40f0c.js' %}"></script>
    <script src="{% static 'dashboard/js/charts-home.f7b8867a.js' %}"></script>
    <!-- Notifications  -->
    <!-- Toast-->
{#    <div class="toast-container position-fixed top-0 end-0 p-4">#}
{#        <div class="toast hide bg-dash-dark-1 text-white" role="alert" aria-live="assertive" aria-atomic="true">#}
{#            <div class="toast-header bg-dash-dark-1">#}
{#                <strong class="me-auto">Bootstrap</strong>#}
{#                <small>11 mins ago</small>#}
{#                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close"></button>#}
{#            </div>#}
{#            <div class="toast-body">Hello, world! This is a toast message.</div>#}
{#        </div>#}
{#    </div>#}

    <script src="{% static 'dashboard/js/home-premium.82d409ff.js' %}">
    </script>
    <!-- Main File-->
    <script src="{% static 'js/front.df077648.js' %}"></script>
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/css/all.css' %}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% block extend_footer %}{% endblock %}
</body>

</html>