{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dionaea - {% block title %}{% endblock %}</title>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>

    {% block extend_head %}{% endblock %}
</head>
<body>
{% include 'dashboard/header.html' %}

{% block content %}{% endblock %}

{% include 'dashboard/footer.html' %}
<!-- Libs JS -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<!-- Tabler Core -->
<script src="{% static 'js/tabler.min.js' %}"></script>
<script src="{% static 'js/demo.min.js' %}"></script>

{% block extend_foot %}{% endblock %}
</body>
</html>