{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="wrapper">

        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Overview
                            </div>
                            <h2 class="page-title">
                                Dashboard
                            </h2>
                        </div>
                        <!-- Page title actions -->
                    </div>
                </div>

            </div>

            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">

                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-blue text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                       viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                       stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path>
                                      <path d="M12 3v3m0 12v3"></path>
                                  </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ profile.credit }}
                                            </div>
                                            <div class="text-muted">
                                                Credit
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <line x1="9" y1="6" x2="20" y2="6"></line>
                                   <line x1="9" y1="12" x2="20" y2="12"></line>
                                   <line x1="9" y1="18" x2="20" y2="18"></line>
                                   <line x1="5" y1="6" x2="5" y2="6.01"></line>
                                   <line x1="5" y1="12" x2="5" y2="12.01"></line>
                                   <line x1="5" y1="18" x2="5" y2="18.01"></line>
                                </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ website_list_all_count }}
                                            </div>
                                            <div class="text-muted">
                                                Website Scan
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-yellow text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/users -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M5 12l5 5l10 -10"></path>
                                    </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ website_list_complete_count}}
                                            </div>
                                            <div class="text-muted">
                                                Website Scan Completed
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                <span class="bg-twitter text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alarm" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <circle cx="12" cy="13" r="7"></circle>
                                   <polyline points="12 10 12 13 14 13"></polyline>
                                   <line x1="7" y1="4" x2="4.25" y2="6"></line>
                                   <line x1="17" y1="4" x2="19.75" y2="6"></line>
                                </svg>
                                </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ website_list_working_count }}
                                            </div>
                                            <div class="text-muted">
                                                Website Scan Working
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>

{% endblock %}